#mainContainer{

    display: grid;
    grid-template-columns: auto auto auto auto;
   
    width: 500px;
    height: 500px;
    border: grey solid 2px;

}

button{
    height: 50px;
    margin: 10px;
    font-size: larger;
    border: grey solid 1px;
}

input{
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
    border: grey solid 1px;
    margin: 10px;
}

#c{
    background: #eb444d;
    color: antiquewhite;
}

#result{
    background: #44a4f1;
    color: antiquewhite;

}